div {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.entry_log {
    border: 1px solid black;
}

.edit-delete-btns {
    justify-content: space-evenly;

}
